@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
* {
  box-sizing: border-box;
  margin: 0;
}

h1, p, h2, h3, h4, ul, li, div {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: Roboto;
}

.loading-page {
  background: #FFFEFA;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter .logo {
  padding: 25px;
  margin-bottom: 5px;
}
.loading-page .counter p {
  font-size: 20px;
  font-weight: 700;
  color: #1F1E1C;
  margin-bottom: 20px;
}
.loading-page .counter h1 {
  color: #008169;
  font-size: 40px;
  margin-bottom: 10px;
}
.loading-page .counter hr {
  background: #FFD24A;
  border: none;
  height: 2px;
  margin-bottom: 20px;
}
.loading-page .counter {
  position: relative;
  width: 200px;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}